<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5 mb-5">Listado de reservas</h1>

      @if (showDeleteBookingMessage) {

      <ngb-alert type="success" [dismissible]="false">Reserva eliminada correctamente</ngb-alert>
      }


      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Available</th>
            <th scope="col">Table</th>
            <th scope="col">Fecha de reserva</th>
            <th scope="col">Menú Seleccionado</th>
            <th scope="col">Restaurant</th>
          </tr>
        </thead>
        <tbody>
          @for (booking of bookings; track booking.id) {
          <tr>
            <th scope="row">{{booking.id}}</th>
            <td>{{booking.title}}</td>
            <td>
              @if (booking.status) {
              <span class="badge text-bg-success">Sí</span>
              } @else{
              <span class="badge text-bg-danger">No</span>
              }
            </td>
            <td>{{booking.numTable}}</td>
            <td>{{booking.createDate | date: 'dd/MM/yy' }}</td>
            <td>
              <a class="badge text-bg-secondary text-decoration-none"
                [routerLink]="['/menus', booking.menu.id, 'detail']">
                {{booking.menu.title}}
              </a>
            </td>
            <td>
              <a class="badge text-bg-warning text-decoration-none"
                [routerLink]="['/restaurants', booking.restaurant.id, 'detail']">
                {{booking.restaurant.title}}
              </a>
            </td>
            <td>
              <button class="btn btn-outline-dark" [routerLink]="['/bookings', booking.id, 'detail']">Ver Reserva</button>
              <button class="btn btn-outline-success ms-2" [routerLink]="['/bookings', booking.id, 'update']">Editar Reserva</button>
              <button class="btn btn-outline-danger ms-2" (click)="delete(booking)">Borrar Reserva</button>

            </td>

          </tr>
          } @empty {
          <p>No hay Reservas actualmente.</p>
          }

        </tbody>
      </table>

    </div>
  </div>
</div>