

<div class="container">
    <div class="row">
      <div class="col-lg-8">
  
        <h1 class="my-5">Introducir datos de Menú</h1>
  
        <form [formGroup]="menuForm" (ngSubmit)="save()">

          <input type="hidden" formControlName="id">
  
          <div class="form-floating mb-3">
            <input type="text" class="form-control"
            id="title" formControlName="title">
            <label for="title">Titulo del menu</label>
          </div>

          <div class="form-floating mb-3">
            <select class="form-select" id="typeOfFood" formControlName="typeOfFood">
              <option value="JAPANESE_FOOD">Japones</option>
              <option value="THAI_FOOD">Thai Food</option>
              <option value="SPAIN_FOOD">Gastronomía Española</option>
              <option value="CHINESE_FOOD">Comida China</option>
              <option value="BRUNCH">Brunch</option>
              <option value="COFFEE_STORE">Cafetería</option>
              <option value="BAR">Bar & Mixology</option>
              <option value="VIETNAM_FOOD">Vietnamita</option>
              <option value="FRENCH_FOOD">Gastronomía Francesa</option>
              <option value="TEX_MEX_FOOD">Tex Mex Food</option>
              <option value="KOREAN_FOOD">Koreana</option>
              <option value="VEGAN_FOOD">Vegan</option>
              <option value="AMERICAN_FOOD">Americana</option>
              <option value="GERMAN_FOOD">Bavarian Food</option>
              <option value="PORTUGUESE_FOOD">Gastronomía Portugues</option>
              <option value="FUSION_FOOD">Fusion & Molecular</option>
              <option value="GREEK_FOOD">Griega</option>
              <option value="INDIAN_FOOD">Comida Hindí</option>
              <option value="PERUVIAN_FOOD">Gastronomía Peruana</option>
              <option value="CANADIAN_FOOD">Canadiense</option>
              <option value="DOMINICAN_FOOD">Dominicana</option>
              <option value="BALKAN_FOOD">Europea</option>
              <option value="GEORGIAN_FOOD">Gergian Food</option>
              <option value="ARABIAN_FOOD">Gastronomía Arabe</option>
              <option value="MARRAKECH_FOOD">Marrakech</option>
              <option value="ASIAN_FOOD">Asiatica</option>
              <option value="AFRICAN_FOOD">Gastronomía Africana</option>
              <option value="MAGHREB_FOOD"></option>
              <option value="CARIBBEAN_FOOD">Caribeña</option>

            </select>
            <label for="typeOfFood">Tipo de Gastronomía</label>
          </div>
  
          <div class="input-group">
            <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
            <button class="btn btn-outline-secondary" type="button" id="photoBtn">Button</button>
          </div>
  
          <button class="w-100 btn btn-primary btn-lg mb-5 mt-5" type="submit">Guardar</button>
  
        </form>
  
      </div>
      <div class="col-lg-4">
  
        @if (photoPreview) {
          <h2 class="my-5">Previsualización foto</h2>
          <img class="img-fluid" [src]="photoPreview">
        }
        @if (!photoPreview && menu?.imgMenu) {
          <h2 class="my-5">Previsualización foto</h2>
          <img class="img-fluid" [src]="'http://localhost:8080/files/' + menu?.imgMenu">
        }
  
      </div>
    </div>
  </div>