.card-cover {
    position: relative;
    overflow: hidden;
    transition: transform 1.5s ease;
    margin-bottom: 10px; 
}

.card-cover:hover {
    transform: scale(1.2); 
    z-index: 2; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.474); 
}

  

  .background-image{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    
  }

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


  
  
  .container-fluid.custom {
    position: relative;
    z-index: 1;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px;
  }
  th, td {
    padding-left: 1rem; 
    padding-right: 1rem; 
}
.buttons {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
  }
  
  .buttons button {
    font-size: 0.8rem;
    margin-right: 1rem; 
  }
  
  @keyframes show {
    
    from{
      opacity: 0.5;
      scale: 20%;
    }

    to{
      opacity: 1;
      scale: 100%;
    }
  }
  
