  <div class="container-fluid">
      <div class="row">
          <div class="col">

              @if (isUpdate) {
                  <h1 class="mt-5 mb-5">Actualizar reserva existente con id {{bookingForm.get('id')?.value}}</h1>
                } @else {
                  <h1 class="mt-5 mb-5">Crear una nueva reserva</h1>
                }




              <form [formGroup]="bookingForm" (ngSubmit)="save()">

                  <input type="hidden" formControlName="id">

                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="title" formControlName="title">
                      <label for="title">Titulo Reserva</label>
                  </div>

                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="status" formControlName="status">
                    <label class="form-check-label" for="status" style="cursor:pointer;">
                    Reserva confirmada(sí o no)
                    </label>
                    </div>

                  <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="numTable" formControlName="numTable" step="1">
                      <label for="numTable">Numero de mesa</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="imgUrl" formControlName="imgUrl">
                    <label for="imgUrl">Imagen (Url)</label>
                </div>

                  <div class="form-floating mb-3">
                    <input type="datetime-local" class="form-control" id="createDate" formControlName="createDate">
                    <label for="createDate">Fecha de Reservación.</label>
                  </div>

                  <div class="form-floating mb-3">
                    <select class="form-select" id="restaurant" formControlName="restaurant" [compareWith]="compareObjects">
                      
        
                        <!-- iterar sobre el array de authors mostrando cada uno -->
                      @for (restaurant of restaurants; track restaurant.id) {
                        <option [ngValue]="restaurant">{{restaurant.title}}</option>
                      }
        
                    </select>
                    <label for="restaurant">Restaurant asociado</label>
                  </div>

                  <div class="form-floating mb-3">
                      <select class="form-select" id="menu" formControlName="menu" [compareWith]="compareObjects">
                        
          
                          <!-- iterar sobre el array de authors mostrando cada uno -->
                        @for (menu of menus; track menu.id) {
                          <option [ngValue]="menu">{{menu.title}}</option>
                        }
          
                      </select>
                      <label for="menu">Menu asociado</label>
                    </div>

                  


                  @if (isUpdate) {
                  <button class="btn btn-success" type="submit">Actualizar</button>
                  } @else {
                  <button class="btn btn-success" type="submit">Crear</button>
                  }


              </form>


          </div>
      </div>
  </div>