<button class="btn btn-info-1" routerLink="" >Home</button>

<button class="btn btn-success m-1" routerLink="/users" >usuarios</button>
<button class="btn btn-warning m-1" routerLink="bookings">booking</button>
<button class="btn btn-warning m-1" routerLink="bookings/create">Crear Reserva</button>
<button class="btn btn-warning m-1" routerLink="/login">login</button>
<button class="btn btn-warning m-1" routerLink="/register">Register</button>
<main style="background-color: rgba(255, 255, 255, 0.875);" >

    <router-outlet></router-outlet>
    
</main>
